@import "../../../primary-styles";

.footer-layout {
  @include flex-space-around;

  background-color: $green-dark;
  color: white;

  &-description {
    display: block;
    max-width: 30rem;
  }

  &-navigation {
    span {
      @include link-separator
    }
  ;
  }
}
